<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Produto</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Produto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Meus Produtos</h1>
      <p>Lista</p>
    </main>
  </body>
</html>
